html, body{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
/* 	background-color: #ddd; */
  font-family: 'Arimo', sans-serif;
}
/* 글씨 h1, h3 */
form > #userInformation {
	color: #408080;
	font-size: 23px;
/* 	margin-bottom: 35px; */
	margin-top: 10px;
/* 	background-color:#91c8c8;  */
	height: 50px;
	text-align: center;
}
div .userInformation {
	margin-top:30px;
	margin-bottom:30px;
	color: #408080;
	text-align: center;
	font-size: 23px;
}

.title1{
  color:#408080;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 8%
}

/* CONTAINERS  max-width: 940px;*/ 

.container1 { width: 80%; margin: 0 auto; } 
.twelve { width: 100%; } 
.eleven { width: 91.53%; } 
.ten { width: 83.06%; } 
.nine { width: 74.6%; } 
.eight { width: 66.13%; } 
.seven { width: 57.66%; } 
.six { width: 49.2%; } 
.five { width: 40.73%; } 
.four { width: 32.26%;} 
.three { width: 23.8%; } 
.two { width: 15.33%; } 
.one{ width: 6.866%;}

.four1{ width: 6%}
.ten1{ width: 30% }
.five1{ width: 10%}

 /* COLUMNS */ 

.col { 
	display: block; 
	float:left;
	margin: 1% 0 1% 1.6%; 
	box-shadow:15px 15px 0px rgba(0,0,0,.1);
} 

.col:first-of-type { margin-left: 0; }

/* PROFILES */

.card{
	max-width: 100%;
	height: 600px;
	background-color: #f7f7f7;
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
	box-shadow:15px 15px 0px rgba(0,0,0,.1);
	
}

.userCard {
	max-width: 100%;
	margin-left:20px;
	margin-bottom: 5px;
	height: 15px; 
	font-family: 'Arimo', sans-serif;
	font-size: 18px;
	}


/* CARD ! */
#card1{
	text-align: center;
	color: #2c3e50;
/* 	padding: 15px; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow:15px 15px 0px rgba(0,0,0,.1);
	border-radius:6px;
}







/* CARD 2 */
#card2{
	overflow: hidden;
	color: #2c3e50;
	border-radius:6px;
}


/* CARD 3 */

#card3{
	color: #2c3e50;
	border-radius:6px;
}







/* 회원정보수정 */

div > #submitBtn {
	  text-decoration:none;	
}
a > #userInfoUpdate {
	font-size: 16px;
	text-decoration:none;
	color: white;	
/* 	padding-top: 1px; */
}
#submitBox {
  text-align: center;
  margin-top: 4%;
/*   position:; */
  width:90%;
  height: 50px;
  padding:15px;
  border-radius:6px;
  border:0;
  margin-left:20px;
  background:#ff9d6f;
  font-size:1.2em;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,.1);
  box-shadow:0px 3px 0px #408080;
  ext-decoration:none;	
}

input {
  width:95%;
  background:#f5f5f5;
  border:0;
  padding:18px;
  border-radius:6px;
  margin-bottom:10px;
  border:1px solid #eee;
}

input:focus, 
textarea:focus {
    outline: none;
}

button, 
input[type="submit"], 
input[type="radio"], 
input[type="checkbox"] 
input[type="button"] {
    cursor: pointer;
}



/* table */


.col-md-1 { width: 8.3333333% } /* 12개의 엘리먼트들이 부모의 영역중 8.3 정도를 영역으로 차지 */
.col-md-2 { width: 16.6666667% } /* 6개 */
.col-md-3 { width: 25% } /* 4개 */
.col-md-4 { width: 33.3333333% } /* 3개 */
.col-md-5 { width: 41.6666667% }
.col-md-6 { width: 50% } /* 2개 */
.col-md-7 { width: 58.3333333% }
.col-md-8 { width: 66.6666667% }
.col-md-9 { width: 75% }
.col-md-10 { width: 83.333333% }
.col-md-11 { width: 91.666667% }
.col-md-12 { width: 100% }


.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 .col-md-12 {
	float: left;
	position: relative; /* 본래 자기 위치 기준에서 */
	min-height: 1px;
	padding-left: 15px; /* 자기 영역 내에서의 간격 */
	padding-right: 15px;
}

table { border-collapse: collapse; }
.table { width: 100%; margin-bottom: 20px; }
th { text-align: left; }
td, th { padding: 0; }
.table > tbody > tr > td, .table > tbody > tr > th {
	padding: 8px;
	line-height: 1.42;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
/* 홀수번째 tr들만을 대상으로 */
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.table-bordered {
	border: 1px solid #ddd;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th {
	border: 1px solid #ddd;
}

.table-hover > tbody > tr:hover {
	background-color: #f5f5f5;
}

/* //  */
.swatches{
		float: left;
		background: #333;
	}
	.swatches span{
		display: block;
		float: left;
		width: 10px;
		height: 10px;
		cursor: pointer;
		margin: 5px;
	}
	.red{
		background: #dc685f;
		opacity: 0.9;
	}
	.orange{
		background: #f27937;
		opacity: 0.8;
	}
	.yellow{
		background: #ffe38e;
		opacity: 0.8;
	}
	.green{
		background: #22a86d;
		opacity: 0.8;
	}
	.blue{
		background: #91cbe8;
		opacity: 0.8;
	}
	.maxbtn span{
		display: block;
		border: 1px solid #333;
		border-top: 3px solid #333;
		width: 11px;
		height: 11px;
		margin-top: 7px;
	}
	.maxbtn:hover span, .maximized .maxbtn span{
		border-color: #e7e7e7;
	}

	.xbtn:hover{
		color: #e7e7e7;
	}
	.topbar {
    border-radius: 3px 3px 0 0;
    padding: 5px;
    text-align: right;
    cursor: default;
	}
	span { color: #e7e7e7;}
	
	.xbtn, .maxbtn {
    padding: 2px 4px;
    text-align: center;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    zoom: 1.0;
    vertical-align: top;
    font-family: 'Days One', sans-serif;
    font-size: 16px;
    margin-top: -3px;
}


/* //캘린더 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


#calendar{
	margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  font-family: 'Lato', sans-serif;
}
#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878;
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px; 
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div{
  float: left;
}
#calendar_content div:hover{
  background-color: #F8F8F8;
}
#calendar_content div.blank{
  background-color: #E8E8E8;
}
#calendar_header, #calendar_content div.today{
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#calendar_content div.today{
  color: #FFFFFF;
}
#calendar_header{
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #FF6860;
  padding: 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px; 
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h4{
  font-size: 10px;
  color: #FFFFFF;
  float:left;
  width:30%;
}
i[class^=icon-chevron]{
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
}

/* /////// title */

div >  #profileName {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-0deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: #ffffff;
  text-shadow: 
    -1px -1px 0 #65b1b1,
    -1px -1px 0 #65b1b1,
    -1px -1px 0 #65b1b1,
    -1px -1px 0 #65b1b1,
    -1px -1px 0 #65b1b1,
    -1px -1px 0 #65b1b1,
    -1px -1px 0 #65b1b1,
    -1px -1px 0 #65b1b1,
    -30px 20px 40px dimgrey
}

