@charset "UTF-8";

td, a {
  transition: color 333ms ease-in-out;
  vertical-align: middle;
}

a {
  color: #407DB8;
  text-decoration: none;
  font-weight: 400;
}

.remote {
  width: 75%;
  margin: 0 auto;
  margin-top: 10%;
}

.remoteList {
  width: 100%;
  margin-bottom: 20px;
}

tr {
  height: 40px;
  transition: background 333ms ease-in-out;
}
tr:nth-child(even) {
  background: #e6f0f6;
}
tr:nth-child(odd) {
  background: #fff;
}
tr:hover {
  background: #ddd;
}
tr:hover:nth-child(even) {
  background: #ddd;
}
tr:hover td {
  color: #888;
}
tr:hover a {
  color: #666;
}
tr td {
  color: #888;
  font-size: 0.78em;
  font-weight: 300;
  letter-spacing: 0.2em;
}
tr td:first-child {
  padding-left: 25px;
}
tr td:last-child {
  padding-right: 25px;
  text-align: right;
}

/* Icons */
.folder:before, .file:before {
  margin-right: 7px;
  font-size: 0.7em;
}

.folder:before {
  content: '▶';
  opacity: 0.6;
}

.file:before {
  content: '▶';
  opacity: 0.2;
}
/* Top Bar */
tr:first-child {
  background: #666;
}
tr:first-child td {
  color: #eee;
  font-size: 0.75em;
  letter-spacing: 0.3em;
}

tr:first-child,
tr:first-child td {
  transition: none;
}
